# abrimos el Sucursal

In [5]:
import pandas as pd

In [6]:
sucursal = pd.read_csv(r"./Datasets/sucursal.csv", sep=",")

In [7]:
#variamos el nombre de columna "id"
sucursal.rename(columns={"id":"sucursal_id"}, inplace=True)

In [8]:
sucursal

,sucursal_id,comercioId,banderaId,banderaDescripcion,comercioRazonSocial,provincia,localidad,direccion,lat,lng,sucursalNombre,sucursalTipo
0,1-1-7,1,1,Super MAMI,Dinosaurio S.A.,AR-X,SALSIPUEDES,E53 1011 None,-31.126667,-64.295250,Super Mami 4,Hipermercado
1,10-1-1,10,1,Hipermercado Carrefour,INC S.A.,AR-B,San Isidro,Bernardo De Irigoyen 2647,-34.491345,-58.589025,San Isidro,Hipermercado
2,10-1-10,10,1,Hipermercado Carrefour,INC S.A.,AR-B,Hurlingham,Av. Vergara 1910,-34.620610,-58.633769,Villa Tesei,Hipermercado
3,10-1-11,10,1,Hipermercado Carrefour,INC S.A.,AR-B,Malvinas Argentinas,Av. Arturo Illia 3770,-34.528883,-58.701631,Malvinas Argentinas,Hipermercado
4,10-1-112,10,1,Hipermercado Carrefour,INC S.A.,AR-A,Salta,20 De Febrero 37,-24.789072,-65.413699,Salta,Hipermercado
...,...,...,...,...,...,...,...,...,...,...,...,...
2328,9-3-5277,9,3,Jumbo,Jumbo Retail Argentina S.A.,AR-U,COMODORO RIVADAVIA,Yrigoyen Hipolito 0,-45.873300,-67.493500,Jumbo-Comodoro,Hipermercado
2329,9-3-5626,9,3,Jumbo,Jumbo Retail Argentina S.A.,AR-B,GENERAL PACHECO,Boulogne Sur Mer 1275,-34.474500,-58.625700,Jumbo Pacheco Novo,Hipermercado
2330,9-3-5961,9,3,Jumbo,Jumbo Retail Argentina S.A.,AR-C,CIUDAD AUTONOMA BUENOS AIRES,Avenida Santa Fe 4950,-34.577200,-58.430000,Jumbo Av. Santa Fé,Supermercado
2331,9-3-628,9,3,Jumbo,Jumbo Retail Argentina S.A.,AR-B,SAN FERNANDO,Avenida Del Libertador Gral San Martin 2271,-34.446900,-58.545700,Jumbo San Fernando,Supermercado
2332,9-3-662,9,3,Jumbo,Jumbo Retail Argentina S.A.,AR-B,DEL VISO,Acceso Pilar Norte 0,-34.436000,-58.808000,Jumbo Paseo del Pilar,Supermercado

In [9]:
#vemos si posee duplicados
sucursal[sucursal["sucursal_id"].duplicated()]

Empty DataFrame
Columns: [sucursal_id, comercioId, banderaId, banderaDescripcion, comercioRazonSocial, provincia, localidad, direccion, lat, lng, sucursalNombre, sucursalTipo]
Index: []

Cargamos al servidor local de MySQL que alojará la base de datos

In [10]:
import pymysql
from sqlalchemy import create_engine
#import mysql.connector as connection

In [11]:
# echo=False ==> nos permitira adentro de la conexion hacer que no imprima en terminal lo que trae
cadena_conexion = 'mysql+pymysql://root:SQL17Agosto1994@localhost:3306/P1_v1'
conexion2 = create_engine(cadena_conexion)
sucursal.to_sql(name='Sucursal', con = conexion2, if_exists= "append", index=True) #index le indicamos que esta indexado

2333